<div class="navbar" ng-controller="NavBarController as nbc">
  <div class="container">

    <div class="w3-top">
      <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
          href="javascript:void(0);" ng-click="nbc.openNav()">
          <i class="fa fa-bars"></i>
        </a>
        <a href="#!user" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" title="My Home Page">
          <i class="fa fa-home w3-margin-right"></i>{{nbc.userObject.userName}}</a>
        <a href="#!messageboard" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Message Board">
          <i class="fa fa-envelope"></i>
        </a>
        <a ng-click="nbc.userService.logout()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
          title="Logout">
          Logout</a>
      </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
      <br>
      <br>
      <a href="#!messageboard" class="w3-bar-item w3-button w3-padding-large">Message Board</a>
      <a ng-click="nbc.userService.logout()" title="Logout" class="w3-bar-item w3-button w3-padding-large">Logout</a>
    </div>

  </div>
</div>