<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    At the message board.
  </p>
      <div layout="row" layout-align="center center" flex>
      <md-input-container class="md-block">
        <label>Message</label>
        <textarea ng-model = "mb.message" placeholder = "Enter message here." md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>   
    </div>
  <md-button ng-click="mb.newMessage(mb.message)" class="md-primary">Send</md-button>

</div>
