<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <main flex>
  <p>
    At the message board.
  </p>
</main>
  <footer>
    <md-toolbar class="md-scroll-shrink">
      <div layout="row" layout-align="center center" flex>
      <md-input-container class="md-block">
        <label>Message</label>
        <textarea placeholder = "Enter message here." ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>      
    </div>
    </md-toolbar>
  </footer>
</div>
