<div ng-include="'views/partials/nav.html'"></div>


<div class="container">

    <!-- <h1 id="welcome" class="lead">Welcome, {{vm.userObject.userName}}!</h1> -->
    <!-- <button class="btn btn-default" ng-click="vm.userService.logout()">Log Out</button> -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <p id="editP">
                            <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme" ng-click="vm.updateProfile()" title="Edit Profile"></i>
                        </p>
                        <h4 class="w3-center" ng-show="vm.editProfile">{{vm.userObject.userName}}</h4>
                        <h4 class="w3-center" ng-hide="vm.editProfile">
                            <input aria-label="username" placeholder="{{vm.userObject.userName}}" ng-model="vm.editedProfile.userName">
                        </h4>

                        <p class="w3-center">
                            <img src="{{vm.userObject.profilePicture}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                        </p>
                        <hr>
                        <p ng-show="vm.editProfile">
                            <i class="fa fa-industry fa-fw w3-margin-right w3-text-theme"></i>{{vm.userObject.occupation}}</p>
                        <p ng-hide="vm.editProfile">
                            <i class="fa fa-industry fa-fw w3-margin-right w3-text-theme"></i>
                            <input aria-label="city" placeholder="{{vm.userObject.occupation}}" ng-model="vm.editedProfile.occupation">
                        </p>
                        <p ng-show="vm.editProfile">
                            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>{{vm.userObject.city}}</p>
                        <p ng-hide="vm.editProfile">
                            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
                            <input aria-label="city" placeholder="{{vm.userObject.city}}" ng-model="vm.editedProfile.city">
                        </p>
                        <p ng-show="vm.editProfile">
                            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{vm.userObject.birthday | amDateFormat:'MM/D/YYYY'}}</p>
                        <p ng-hide="vm.editProfile">
                            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
                            <md-datepicker ng-model="vm.editedProfile.birthday" ng-placeholder="{{vm.userObject.birthday}}"></md-datepicker>
                        </p>
                    </div>

                    <md-button ng-hide="vm.editProfile" ng-click="vm.saveProfile(vm.userObject._id, vm.editedProfile)" class="md-raised">Save</md-button>
                    <md-button ng-hide="vm.editProfile" ng-click="vm.cancelEdit()" class="md-raised">Cancel</md-button>

                </div>
            </div>
            <!--end left column -->
            <!-- Middle Column -->
            <div class="w3-col m7">

                <!--Middle Column stuff goes here -->

            </div>
            <!--end Middle Column-->
        </div>
    </div>
    <footer class="w3-container w3-theme-d5 bottomFooter">
        <p>Real Time Chat
        </p>
    </footer>
</div>